@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("boxicons/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* input date */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* check box */
#to-do,
#in-progress,
#done {
  appearance: none;
  border: 1px solid rgb(0, 0, 0, 0.5);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.375rem;
}

#to-do:checked {
  background-color: #4f46e5;
  /* Cor quando marcado */
}

#in-progress:checked {
  background-color: #f59e0b;
  /* Cor quando marcado */
}

#done:checked {
  background-color: #22c55e;
  /* Cor quando marcado */
}

/*the end check box */

/* css kanban  */
.container-tasks {
  background-image: url("/img/Draggable-area.png");
  background-size: cover;
  background-repeat: repeat;
}



/* stylen bar scroll */
.div-scroll-to-do::-webkit-scrollbar {
  width: 10px;
  background-color: #d3d1f8;
}

.div-scroll-to-do::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 50px;
}

.div-scroll-in-progress::-webkit-scrollbar {
  width: 10px;
  background-color: #fce7c2;
}

.div-scroll-in-progress::-webkit-scrollbar-thumb {
  background-color: #f59e0b;
  border-radius: 50px;
}

.div-scroll-done::-webkit-scrollbar {
  width: 10px;
  background-color: #c8f0d7;
}

.div-scroll-done::-webkit-scrollbar-thumb {
  background-color: #22c55e;
  border-radius: 50px;
}

/* the end stylen bar scroll */

.icons {
  @apply flex justify-center items-center w-8 h-8 rounded-full bg-white;
}

.buttonIcons {
  @apply w-24 h-14 rounded-full border border-opacity-20 hover:border-opacity-70 hover:border-blue-500;
}

.buttonIcons img {
  @apply w-6 h-6 justify-self-center;
}

/*Login and Signup */
.loginSection,
.signupSection {
  @apply flex flex-col items-center justify-center text-wordColor gap-8;
  width: auto !important;
  height: max-content !important;
  background-size: cover;
}

.loginSection,
.signupSection {
  @apply p-[20px];
}

.loginSection .sec,
.signupSection .sec {
  padding: 60px;
}

.loginSection .group,
.signupSection .group {
  align-items: start;
}

.inp {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  gap: 10px;
}
.inp .column {
  width: 100% !important;
}

form [data-type="login"],
form [data-type="create-acount"] {
  max-width: 100% !important;
  width: auto;
}

@media (max-width: 1024px) {
  .column-image {
    display: none !important;
  }

  .loginSection,
  .signupSection {
    @apply bg-bglogin bg-no-repeat bg-cover flex flex-grow w-full h-full;
    background-size: cover;
    position: relative;
    display: flex;
    flex-grow: 1;
  }

  .loginSection::before,
  .signupSection::before {
    content: '';
    @apply absolute inset-0 bg-white opacity-70;
    backdrop-filter: brightness(0.3);
    z-index: 0;
  }

  .loginSection>*,
  .signupSection>* {
    position: relative;
    z-index: 1;
  }
}



.loginSection .sec,
.signupSection .sec {
  @apply w-full bg-white rounded-[30px];
}

#login .column,
#signup .column {
  margin-bottom: 0 !important;
}

/**/


.inputs {
  @apply flex flex-col gap-2;
}

.erro {
  @apply border-red-700;
}

.erro-message {
  @apply text-red-700 w-520;
}


@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("boxicons/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Roboto";
}

/* Links */
a {
  @apply text-link font-bold;
}

a:hover {
  @apply text-h-link font-bold;
}

/**/

/* Overflow */
html {
  overflow: auto;
}

html,
body {
  @apply h-full m-0 p-0 flex flex-col;
}

.overflow-hidden {
  overflow: hidden !important;
}

/**/

/* Overflow */
.overflow-hidden {
  overflow: hidden !important;
}

/**/

/* Tipografia Responsiva */
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary font-bold text-[1.75rem] leading-[36px] md:text-[2rem] md:leading-[40px] lg:text-[2.5rem] lg:leading-[48px];
}

p,
.text {
  @apply text-[0.875rem] leading-[20px] text-primary font-normal md:text-[1rem] md:leading-[24px] lg:text-[1.125rem] lg:leading-[28px];
}

.subtitle {
  @apply text-[1rem] leading-[1.25rem] font-normal md:text-[1.125rem] md:leading-[1.5rem] lg:text-[1.25rem] lg:leading-[1.75rem];
}

label {
  @apply w-full font-medium text-[0.75rem] leading-[24px] md:text-[0.875rem] md:leading-[28px] lg:text-[1rem] lg:leading-[30px];
}

input {
  @apply text-base leading-5 rounded-lg py-2 px-3 border border-gray-200;
}

form {
  @apply flex flex-col gap-[40px] leading-[30px] w-full;
}

/**/

/* Header */
header {
  @apply bg-primary p-5 max-h-[80px] flex items-center text-white;
}

.navbar {
  @apply flex justify-between z-20 text-base leading-6 items-center text-white w-full overflow-hidden;
}

.menu,
.navbar>.column {
  @apply flex items-center gap-2.5 text-white;
}

.logo img {
  @apply w-[50px] h-[50px];
}

.navbar ul {
  @apply flex gap-10;
}

.nav-menu li {
  @apply list-none;
}

.navbar a,
.nav-menu a,
.navbar a:hover {
  @apply text-white no-underline font-normal;
}

.nav-menu a:hover {
  @apply underline;
}

.nav-menu {
  @apply flex items-center h-9 font-normal;
}

.navbar>.column {
  @apply p-0;
}

.logo .title {
  @apply text-white font-normal text-2xl leading-9;
}

.logo a {
  @apply flex items-center gap-5 no-underline;
}

.nav-menu input {
  @apply border border-white/10 text-white/50 bg-transparent pr-8;
}

.nav-menu input:active,
.nav-menu input:hover {
  @apply border border-h-link text-h-link;
}

.search {
  @apply relative;
}

.icon-search {
  @apply absolute right-2.5 top-[calc(50%)] transform -translate-y-1/2 cursor-pointer;
}

.icon-search path {
  @apply fill-white/50;
}


.search input:hover+.icon-search path,
.search input:focus+.icon-search path,
.icon-search:hover path {
  @apply fill-h-link;
}


/**/

/* Ícone hamburguer */
.hamburger {
  @apply z-50 text-2xl leading-6 cursor-pointer hidden;
}

.hamburger.default:before {
  content: "\2630";
}

.hamburger.active:before {
  content: "\26CC";
}

.nav-menu li {
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  opacity: 0;
}

.nav-menu li:nth-child(1) {
  animation-delay: 100ms;
}

.nav-menu li:nth-child(2) {
  animation-delay: 200ms;
}

.nav-menu li:nth-child(3) {
  animation-delay: 400ms;
}

.nav-menu li:nth-child(4) {
  animation-delay: 600ms;
}

/**/

/* Animações de menu */
@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/**/

/* Global Styles for all buttons */
.btn {
  @apply capitalize rounded-lg p-2 w-60 text-center font-medium text-lg transition ease-in-out duration-300 cursor-pointer;
}

/* Styles based on data-type attribute */
header [data-type="login"] {
  @apply text-white rounded-[30px] border h-full border-white border-solid;
}

form [data-type="login"],
form [data-type="create-acount"] {
  @apply rounded-lg p-3 w-full text-center border-none font-medium text-lg transition ease-in-out duration-300 cursor-pointer;
}

[data-type="get-started"] {
  @apply text-white rounded-[30px] border border-white border-solid;
}

[data-type="learn-more"] {
  @apply text-color-btn bg-found-btn;
}

[data-type="view-all"] {
  @apply text-color-btn bg-found-btn;
}

[data-type="subscribe"],
[data-type="update-info"],
form [data-type="login"],
form [data-type="create-acount"] {
  @apply text-white bg-blue-300;
}

[data-type="create"] {
  @apply text-white w-full bg-color-green;
}

/**/

/* Hover effects based on data-type attribute */
[data-type="login"]:hover,
[data-type="get-started"]:hover {
  @apply border-h-link;
}

[data-type="learn-more"]:hover {
  @apply text-white bg-blue-100;
}

[data-type="view-all"]:hover {
  @apply text-white bg-blue-300;
}

[data-type="subscribe"]:hover,
form [data-type="create-acount"]:hover,
[data-type="update-info"]:hover,
form [data-type="login"]:hover {
  @apply text-white bg-blue-200;
}

[data-type="create"]:hover {
  @apply bg-h-green;
}

/**/


/* Contents */
.emphasis-content {
  background: var(--emphasis-content);
}

.sec,
.home-m {
  padding: 60px 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 60vw;
}

.aling-left {
  text-align: left;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;

}

.aling-center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/**/

/* Column Pattern */
.columns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: Fill (1, 560px)px;
}

/**/

/* Group */
.group {
  width: 100%;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
}

/**/

/* Alings */
.gap {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.gap-min {
  gap: 24px;
}

.max-column {
  width: 560px;
}

.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

/**/

/*Forms*/
.alert-form {
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

/**/

/*Footer*/
footer p {
  @apply text-white;
}


/* Responsiveness */
@media (max-width: 1000px) {
  header .columns {
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .logo h2.title {
    font-size: 18px;
    line-height: 24px
  }

  .columns:not(header .column, footer .column) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .column:not(header .column, footer .column) {
    min-width: 250px;
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }

  .stats {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: stretch !important;
  }

  .inp {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 10px;
  }
  .inp .column {
    width: 100% !important;
  }


  @media (max-width: 1000px) {
    .column:not(header .column) {
      width: 100%;
    }
  }

}

/**/
@media (max-width: 724px) {

  .sec,
  .home-m {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-m {
    min-height: auto !important;
  }

  .loginSection .group,
  .signupSection .group {
    align-items: center;
  }


  .stats {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 80px;
    background: #331436;
    padding: 20px;
    align-items: flex-start !important;
    z-index: 1000;
  }

  .navbar ul {
    display: none;
    height: 100%;
    width: 100vw;
  }

  .navbar ul.active {
    height: 100%;
    display: flex;
  }

  .navbar ul li {
    text-align: left;
    justify-content: left;
  }

  .hamburger {
    display: block;
  }

  .max-column.main-cont {
    padding: 20px !important;
  }

  .btn {
    align-items: center;
    max-width: 118px;
    font-size: 14px;
    padding: auto;
  }

  .content {
    max-width: 90vw;
  }

  .logo h2.title {
    font-size: 14px;
    line-height: 20px
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.nav-menu li:only-child {
  display: block;
  /* Este estilo é aplicado apenas se houver um único <li> */
}

/* Controle para o ícone de hambúrguer em telas menores */
@media (max-width: 724px) {
  .hamburger {
    display: block;
  }

  /* Esconde o hambúrguer se houver apenas um único li */
  .nav-menu li:only-child~.hamburger {
    display: none;
  }
}


/* Home page */
/* Main */
.home-m {
  @apply bg-center bg-no-repeat bg-cover flex p-[60px] flex-col items-center;
  height: 80vh !important;
  min-height: 66vh;
  background-image: url("/img/background.webp");
}

.home-m section.content {
  max-width: 80vw;
}

.home-m .btn {
  @apply relative z-10;
}

main .title,
main .text {
  @apply text-white;
}

.floatwoman {
  @apply absolute z-0 top-[26px] h-[83vh];
  right: 0vw;
}

@media (max-width: 1411px) {
  .column.flo {
    display: none;
  }

  .home-m {
    height: auto;
  }
}

.max-column.main-cont {
  @apply bg-black/50;
  color: #fff;
  padding: 20px 80px;
  border-radius: 30px;
  width: 100%;
  max-width: 756px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}

.stat-card {
  width: 180px;
  padding: 20px;
  background-color: #23081ca1;
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  border-radius: 10px;
}

/**/

/*Section Manager*/
#manager {
  @apply relative bg-blue-300 z-20;
}

#manager .title,
#tools .title {
  @apply text-emphasis-yellow;
}

#manager .text,
#manager .subtitle,
#tools .text,
#tools .subtitle {
  @apply text-white;
}

@media (max-width: 1000px) {
  .columns.scroll:not(header .column, footer .column) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
  }



}

.scroll {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  overflow-x: auto;
}

/**/



/*Section Tools*/
#tools {
  @apply bg-blue-100 text-white;
}

.image-i-i {
  padding: 20px;
  border-radius: 50px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

/**/