@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("boxicons/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* search
.div-search:hover {
  outline: 2px solid black;
} */

/* input date */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* check box */
#to-do,
#in-progress,
#done {
  appearance: none;
  border: 1px solid rgb(0, 0, 0, 0.5);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.375rem;
}
#to-do:checked {
  background-color: #4f46e5; /* Cor quando marcado */
}
#in-progress:checked {
  background-color: #f59e0b; /* Cor quando marcado */
}
#done:checked {
  background-color: #22c55e; /* Cor quando marcado */
}
/*the end check box */

/* css kanban  */
.container-tasks {
  background-image: url("/img/Draggable-area.png");
  background-size: cover;
  background-repeat: repeat;
}

/* Header */
header {
  @apply bg-primary p-5 max-h-[80px] flex items-center text-white;
}
.navbar {
  @apply flex justify-between z-20 text-base leading-6 items-center text-white w-full overflow-hidden;
}

.menu,
.navbar > .column {
  @apply flex items-center gap-2.5 text-white;
}

.logo img {
  @apply w-[50px] h-[50px];
}

.navbar ul {
  @apply flex gap-10;
}

.nav-menu li {
  @apply list-none;
}

.navbar a,
.nav-menu a,
.navbar a:hover {
  @apply text-white no-underline font-normal;
}

.nav-menu a:hover,
footer a:hover {
  @apply underline;
}

.nav-menu {
  @apply flex items-center h-9 font-normal;
}

.navbar > .column {
  @apply p-0;
}

.logo .title {
  @apply text-white font-normal text-2xl leading-9;
}

.logo a {
  @apply flex items-center gap-5 no-underline;
}

.nav-menu input {
  @apply border border-white/10 text-white/50 bg-transparent pr-8;
}

.search {
  @apply relative;
}

.icon-search {
  @apply absolute right-2.5 top-[calc(50%+3px)] transform -translate-y-1/2 cursor-pointer;
}

/* Ícone hamburguer */
.hamburger {
  @apply z-50 text-2xl leading-6 cursor-pointer hidden;
}

.hamburger.default:before {
  content: "\2630";
}

.hamburger.active:before {
  content: "\26CC";
}

.nav-menu li {
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  opacity: 0;
}
.nav-menu li:nth-child(1) {
  animation-delay: 100ms;
}

.nav-menu li:nth-child(2) {
  animation-delay: 200ms;
}

.nav-menu li:nth-child(3) {
  animation-delay: 400ms;
}

.nav-menu li:nth-child(4) {
  animation-delay: 600ms;
}

/* Animações de menu */
@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Responsividade */
@media (max-width: 1080px) {
  .nav-menu {
    @apply flex flex-col absolute right-0 top-[80px] bg-[#331436] p-5 items-start z-50;
  }

  .navbar ul {
    @apply hidden h-full w-screen;
  }

  .navbar ul.active {
    @apply h-full flex;
  }

  .navbar ul li {
    @apply text-left;
  }

  .hamburger {
    @apply block;
  }

  header .columns {
    @apply flex-nowrap justify-center items-center;
  }

  .columns:not(header .column, footer .column) {
    @apply flex-wrap justify-between;
  }

  .column:not(header .column, footer .column) {
    @apply min-w-[250px] w-[calc(50%-20px)] mb-5;
  }

  @media (max-width: 900px) {
    .column:not(header .column) {
      @apply w-full;
    }
  }
}

/**/

/*Tipografy*/
input {
  line-height: 20px;
  border-radius: 6px;
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
}

/* Main */
.home-m {
  @apply bg-center bg-no-repeat bg-cover flex p-[60px] flex-col items-center h-[64vh];
  background-image: url("/img/background.webp");
}

.home-m .btn {
  @apply relative z-10;
}
.floatwoman {
  position: absolute;
  top: 10px;
  z-index: 0;
  height: 83vh;
}

@media (max-width: 1023px) {
  .floatwoman {
    display: none;
  }
}

/* stylen bar scroll */
.div-scroll-to-do::-webkit-scrollbar {
  width: 10px;
  background-color: #d3d1f8;
}

.div-scroll-to-do::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 50px;
}

.div-scroll-in-progress::-webkit-scrollbar {
  width: 10px;
  background-color: #fce7c2;
}

.div-scroll-in-progress::-webkit-scrollbar-thumb {
  background-color: #f59e0b;
  border-radius: 50px;
}

.div-scroll-done::-webkit-scrollbar {
  width: 10px;
  background-color: #c8f0d7;
}

.div-scroll-done::-webkit-scrollbar-thumb {
  background-color: #22c55e;
  border-radius: 50px;
}
/* the end stylen bar scroll */

.icons {
  @apply flex justify-center items-center w-8 h-8 rounded-full bg-white;
}

.buttonDark {
  @apply w-80 md:w-508 lg:w-353 xl:w-508 h-12 bg-primary rounded-lg text-white hover:bg-blueHover;
}

.buttonIcons {
  @apply w-24 h-14 rounded-full border border-opacity-20 hover:border-opacity-70 hover:border-blue-500;
}

.buttonIcons img {
  @apply w-6 h-6 justify-self-center;
}

.loginSection {
  @apply absolute top-4 left-9 md:top-44 md:left-16 w-353 md:w-656 h-624 bg-white rounded-3xl z-10 flex flex-col items-center justify-center text-wordColor gap-8 lg:static lg:rounded-none lg:items-start lg:w-auto xl:h-auto;
}

.inputs {
  @apply flex flex-col gap-2;
}

.erro {
  @apply border-red-700;
}

.erro-message {
  @apply text-red-700 w-520;
}

* {
  font-family: "Roboto";
}

/* Links */
a {
  @apply text-link font-bold;
}
a:hover {
  @apply text-h-link font-bold;
}
/**/

/* Global Styles for all buttons */
.btn {
  @apply capitalize rounded-lg p-2 w-60 text-center font-medium text-lg transition ease-in-out duration-300 cursor-pointer;
}

/* Styles based on data-type attribute */
header [data-type="login"] {
  @apply text-white rounded-[30px] border h-full border-white border-solid;
}
form [data-type="login"],
form [data-type="create-acount"] {
  @apply rounded-lg p-3 w-full  text-center border-none font-medium text-lg transition ease-in-out duration-300 cursor-pointer;
}

[data-type="get-started"] {
  @apply text-white rounded-[30px] border border-white border-solid;
}

[data-type="learn-more"] {
  @apply text-color-btn bg-found-btn;
}

[data-type="view-all"] {
  @apply text-color-btn bg-found-btn;
}

[data-type="subscribe"],
[data-type="update-info"],
form [data-type="login"],
form [data-type="create-acount"] {
  @apply text-white bg-blue-300;
}

[data-type="create"] {
  @apply text-white w-full bg-color-green;
}

/* Hover effects based on data-type attribute */
[data-type="login"]:hover,
[data-type="get-started"]:hover {
  @apply border-h-link;
}

[data-type="learn-more"]:hover {
  @apply text-white bg-blue-100;
}

[data-type="view-all"]:hover {
  @apply text-white bg-blue-300;
}

[data-type="subscribe"]:hover,
form [data-type="create-acount"]:hover,
[data-type="update-info"]:hover,
form [data-type="login"]:hover {
  @apply text-white bg-blue-200;
}

[data-type="create"]:hover {
  @apply bg-h-green;
}
